
body{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  color: gray;
  background: rgb(233, 233, 233);
  font-family:'Century Gothic','M PLUS Rounded 1c', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
header{
  display: flex;
  justify-content: center; 
 
}
header img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* menuリスト */
/* .menu {
  list-style: none;
  overflow: hidden;
  justify-content: center;
  margin-top: 20px;
}
 
.menu li {
  display: inline-block;
  padding: 7px 5px;
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  
}
 .menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 20px;
}
.menu li:hover{
  background:#e890b9;
}  */
.menu{
  margin-top: 20px;
  width: 40%;
  max-width: 40%;
  height: auto;
}

.menu a{
  list-style: none;
  overflow: hidden;
  justify-content: center;
  margin-top: 30px;
  color: rgb(90, 90, 90);
  text-decoration: none;
  font-weight: 900;
  border-bottom:  #666666;
}

.menu a{
  transition: all .3s;
}
.menu li {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgba(80, 80, 80, 0.76);
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  margin-left: 3px;
}
.menu li a::before,
.menu li a::after {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 2;
  content: '';
  transition: all .3s;
} 
.menu li a::before {
  border-top: 2px solid #e76c9b;
  border-bottom: 2px solid #e76c9b;
  transform: scale(0, 1);
}
.menu li a::after {
  border-right: 2px solid #e76c9b;
  border-left: 2px solid #e76c9b;
  transform: scale(1, 0);
}
.menu li a:hover {
  color:#e76c9b;
  font-weight:bold;
}
.menu li a:hover::after,
.menu li a:hover::before {
  transform: scale(1);
}
.container{
  width: 55%;
  max-width: 55%;
  height: auto;
  text-align: center;
  margin: 30px auto;
  position: relative;
  
}
.container >img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.container h1{
  font-size: 18px;
  color: rgb(75, 75, 75);
}
.container h1:first-letter{
  font-size: 30px;
  color: #3a3a3a;
}
.box{
  width: 100%;
  max-width: 100%;
  height:auto;
  
}
.box1, .box2{
  background:rgb(255, 255, 255);
  margin-left: 10px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 100%;
  height:auto;
  margin-bottom:30px ;
}
.boxs{
  display: flex;
  justify-content: center; 
}
.boxs a{
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
.boxs a:hover{
  color: #888888;
}
.box img{
  width: 100%;
  margin: auto;
  max-width: 100%;
  height:auto;
}
.box1:hover img{
  opacity: 0.6;
}
.box2:hover img{
  opacity: 0.6;
}

.profile ul{
  list-style: none;
}
.profile img{
  width: 30%;
  margin: auto;
  max-width: 30%;
  border-radius: 50%;
}
.profilebox{
  width: 60%;
  background: white;
  margin: auto;
  padding: 30px;
}

.contact{
  padding-top: 60px;
  
}

.contactbox{
  width: 60%;
  background: white;
  margin: auto;
  padding:30px;

}

.footer {
  margin-top: auto;
  padding-bottom:0 ;
}
.footer ul{
  overflow: hidden;
  justify-content: center;
  margin-top: 20px;
}
.footer li {
  display: inline-block;
  padding: 7px 5px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  text-align: center;
}
.footer li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 5px;
}

#pageTop {
  position: fixed;
  bottom: 80px;
  right: 140px;
}
#pageTop i {
  padding-top: px;
}
#pageTop a {
  display: block;
  z-index: 999;
  border-radius: 30px;
  width: 70px;
  height: 50px;
  background-color: gray;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
/* タブレット用 */
@media screen and (max-width:979px) {
  .body{
    width: 100%;
  }
  .container{
    width: 80%;
    max-width: 80%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    position: relative;
    } 
  .box{
    margin:0 auto;
    width: 80%;
    max-width: 80%;
    height:auto;
  }
  .boxs{
     display: block;
   }
  .box1, .box2{
    margin-left: auto;
  }
  .profilebox{
    width: 80%;
   }
   .contactbox{
     width: 80%;
} 
}
/* スマホ用 */
@media screen and (max-width:479px) {
.body{
  width: 100%;
}
.container{
  width: 90%;
  max-width: 90%;
  height: auto;
  text-align: center;
  margin: 30px auto;
  position: relative;
  } 
  .box{
    margin:0 auto;
    width: 90%;
    max-width: 90%;
    height:auto;
  }
.boxs{
   display: block;
 }
 .profilebox{
  width: 80%;
 }
 .contactbox{
   width: 80%;
 }
 
}